{% extends 'base.html'%}
{% load static %}
{% block title %}社員一覧{% endblock %}
{% block active_profile %}active{% endblock %}
{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}
{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <hr>

        {% if member_list %}
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>番号</th>
                <th>名前</th>
                <th>部門</th>
                <th>状態</th>
                <th>更新日付</th>
                <th>操作</th>
            </tr>
            {% for member in member_list %}
            <tr>
                <td>{{ member.user_id }}</td>
                <td>{{ member.last_name }} {{ member.first_name }}</td>
                <td>{{ member.department }}</td>
                <td>{% if member.birth %}
                    登録済み
                    {% else %}
                    未登録
                    {% endif %}
                </td>
                <td>
                    {{ member.update_date|date:"Y年n月d日l H時i分s秒" }}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="#">編集</a>
                    <a class="btn btn-secondary" href="#">削除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>プロフィール：データ無し</p>
        {% endif %}

        <hr>
        <!-- ページネーション -->
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                    <!-- << -->
                </a>
            </li>
            {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                    <!-- >> -->
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
